body{
    background-image: url("rick.jpeg.jpg");
    background-size: fill;
}

header{
    font-family: cursive;
    font-size: large;
    border-radius: 50;
    color: rgba(109, 87, 175, 0.348);
    padding-left: 510px;
}

#input{
    margin-top: 50px;
    align-self: center;
    padding-top: 10px;
    padding-left: 500px;
    
}

#inputTD{
    border-radius: 150px;
    border: 200px;
    background-size: cover;
}

#myUl{
    border-style: double;
    border: 200px;
     border-color: white;
     padding-left: 25px;
}

